/*section 1*/
@font-face {
    font-family: 'Abraham Lincoln';
    src: url('../fonts/abrahamlincoln-webfont.woff2') format('woff2'),
         url('../fonts/abrahamlincoln-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/GothamBlack.woff2') format('woff2'),
        url('../fonts/GothamBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*
{
    margin: 0;
    padding: 0;
}


ul
{
    margin: 0;
    padding: 0;
    margin-left: -46px;
    list-style-type: none;
}

li
{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

nav
{
    color: black;
}

.brand
{
  padding-top: 200px;
}

#unity
{
  color:white;
  text-align: center;
  width:100px;
  padding: 10px;
  font-size: 18px;
  border: solid 1px;
  padding: 10px;
  margin-left:-29px;
}
.container
{
    width: 100%;
    height: 100vh;
}
.container.background1
{
    height: 1266px;
    background-image: url('IMAGES/pageone/BACKGROUND1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container.font
{
    margin-top: -157px;
}

#honor
{
  font-size: 73px;
  color: rgb(255, 168, 0);
  text-transform: uppercase;
  position: absolute;
  left: 439px;
  top: 573px;
  font-family:"Abraham Lincoln", Time New Roman;
}

#webring
{
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: absolute;
  left: 369px;
  top: 639px;
  font-family:"Abraham Lincoln", Time New Roman;
}

.arrow
{
  position: absolute;
  top:200px;
  color:white;
  top: 974px;
  right: 642px;

}
.nav
{
  margin-top:30px;
}

.nav a
{
  color:white;
  text-decoration: none;
  font-family:"Abraham Lincoln", Time New Roman;
}

.threesidesquare
{
position: absolute;
color:white;
top: 853px;
right: 619px;

}

.scroll
{
position: absolute;
color:white;
top: 914px;
right: 619px;
text-transform: uppercase;
}

.sidesocial
{
    position: absolute;
    top: 450px;
    right: -114px;
    transform: rotate(-90deg);
}

.sidesocial a
{
  color:white;
  text-decoration: none;
  font-family:"Abraham Lincoln", Time New Roman;
}

.phoneimage
{
  position: absolute;
  top: 0px;
  right:33px;
}

.purple
{
  width: 100%;
  height: 169vh;
  background-color:rgb(105, 79, 202);
}

.purplecolumn
{
  width: 25%;
  display: inline-block;
  font-family: "Abraham Lincoln", Time New Roman;
  text-align: left;
  color:white;
}

.invites
{
font-size:60px;
}

.paintbrushes
{
  width: 919px;
  height: 565px;
  margin: -208px auto;
  margin-left: 142px;
}

.bottomlines
{
  position:relative;
  bottom:-105px;
}

#complexity
{
  position: relative;
  display: inline-block;
  width: 35%;
  text-align: left;
  letter-spacing: 3px;
  line-height: 70px;
  font-size: 79px;
  color: rgb(255, 255, 255);
  stretch: 20px;
  font-family: "Abraham Lincoln", Time New Roman;
}

.purplemiddle
{
  width: 70%;
  height: auto;
  position: relative;
  margin-top: 200px;
}

/* .column-wrapper{
  width: 80%;
  margin: 15px auto;
} */
.column-wrapper
{
 width: 104%;
 margin-top: 65px;
 margin-left: 86px;
}

.column{
  width: 25%;
  display: inline-block;
  font-family: "Poppins",sans-serif;
  font-size: 11px;
  text-align: left;
  color:white;

}

.complexityparagraph
{
  position: relative;
  display: inline-block;
  top:-78px;
  width: 60%;
  text-align: left;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

#handmade
{
 position: relative;
 font-size: 29px;
 color: rgb(255, 168, 0);
 text-transform: uppercase;
 font-family:"Abraham Lincoln", Time New Roman;
}

#gradcaptitle
{
 position: relative;
 font-size: 29px;
 color: rgb(255, 168, 0);
 text-transform: uppercase;
 font-family:"Abraham Lincoln", Time New Roman;
}

#tools
{
 position: relative;
 font-size: 29px;
 color: rgb(255, 168, 0);
 text-transform: uppercase;
 font-family:"Abraham Lincoln", Time New Roman;
}

.whiteline
{
  width:45px;
  height:0px;
  background-color: white;
  position: relative;
  top: 499px;
  left: -438px;
}

/* .connectparagraph
{
  position: absolute;
  top: 2070px;
left: 167px;
  font-family: "Poppins",sans-serif;
  font-size: 11px;
  text-align:left:
} */

.graycity
{
  height: 941px;
  background-image: url('IMAGES/WE LOVE OUR CLIENTS/WeAreUnity.png');
  background-repeat: no-repeat;
  background-size: cover;
  background position: center;
  background-size:cover;
}
#ourclients
{
 position:relative;
 margin:auto;
 font-family:"Abraham Lincoln", Time New Roman;
 text-transform: uppercase;
 font-size: 68px;
 top: 171px;
 right: -9px;
}

.takepride
{
  margin-top:194px;
  font-family: "Poppins",sans-serif;
  font-size:15px;
}
.roundbutton
{
  color: black;
    position: relative;
    top: -895px;
    left: 520px;
    width: 200px;

}

.group2
{
 position: relative;
 width: 797px;
 height: 485px;
 left: 85px;
 top: -201px;
  }

/* .white
{
  background-size: cover;
  margin-top: 100px;
  height: 250px;
  background-color: pink;
} */

.maninbox
{
 width: 981px;
 height: 472px;
 left: 120px;
 position: relative;
 margin: auto;
 top: -63px;
}

.winter{
  height:1400px;
  background-image: url("IMAGES/winter/layer0.png");
  background-position: left bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  background-size: cover;
}

.footer
{
  background-size: cover;
  height:140px;
  background-color: black;
}
